In [8]:
import pandas as pd
import numpy as np

每一个字典的关键字表示一列的列名

In [9]:
df = pd.DataFrame({'AAA':[1,2,3],"BBB":[4,5,6],"CCC":[7,8,9]})

In [10]:
df

   AAA  BBB  CCC
0    1    4    7
1    2    5    8
2    3    6    9

if - then

An if-then on one column

In [14]:
df.loc[df.AAA>=2,'AAA'] = -1

In [15]:
df

   AAA  BBB  CCC
0    1    4    7
1   -1   -1    8
2   -1   -1    9

In [16]:
df.loc[df.AAA==1,['BBB','CCC']] = 100

In [17]:
df

   AAA  BBB  CCC
0    1  100  100
1   -1   -1    8
2   -1   -1    9

In [18]:
df.loc[df.AAA<0,['BBB','CCC']]=500

In [19]:
df

   AAA  BBB  CCC
0    1  100  100
1   -1  500  500
2   -1  500  500

In [33]:
df_mask = pd.DataFrame({'AAA':[True]*3,'BBB':[False]*3,'CCC':[True,False,True]})

In [34]:
df_mask

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True

In [36]:
df.where(df_mask,-2000) # 要保证列名要基本一致

   AAA   BBB   CCC
0    1 -2000   100
1   -1 -2000 -2000
2   -1 -2000   500

In [37]:
df = pd.DataFrame({'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]})

In [38]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [39]:
df['logic'] = np.where(df['AAA']>5,'high','low')

In [40]:
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

Spliting

In [41]:
df = pd.DataFrame({'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]})

In [42]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [43]:
dflow = df[df.AAA<=5]

In [44]:
dflow

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [45]:
dhigh = df[df.AAA>5]
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

# Building Criteria

## Select with multi-column criteria

In [46]:
df = pd.DataFrame({'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]})

In [47]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [48]:
newSeries = df.loc[(df['BBB']<25) & (df['CCC']>=-40),'AAA']

In [49]:
newSeries

0    4
1    5
Name: AAA, dtype: int64

In [50]:
newSeries[0]

4

or without assignment returns a Series

In [54]:
newSeries = df.loc[(df['BBB']>25) | (df['CCC']>=-40),'AAA'] # 注意括号的位置

In [55]:
newSeries

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

...or with assignment modifies the DataFrame

In [57]:
df.loc[(df['BBB']>25) | (df['CCC']>=75),'AAA'] = 0.1

In [58]:
df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

## select rows with data cloest to certain value using argsort

In [59]:
df = pd.DataFrame({'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]})

In [60]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [63]:
aValue = 43.0 # 按照减去后绝对值的大小顺序进行排序，但是没有提取具体某一列的数据

In [64]:
df.loc[(df.CCC-aValue).abs().argsort()] # what' the fucking means???

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

## Dynamic reduces a list of criteria using a binary operations

In [65]:
df = pd.DataFrame({'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]})

In [66]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [67]:
crit1 = df.AAA <= 5.5
crit2 = df.BBB == 10.0
crit3 = df.CCC > -40

In [68]:
AllCrit = crit1 & crit2 & crit3

In [69]:
df[AllCrit]

   AAA  BBB  CCC
0    4   10  100

In [70]:
CritList = [crit1,crit2,crit3]
AllCrit = functools.reduce(lambda x,y:x & y, CritList)

NameError: name 'functools' is not defined

# Selection

## DataFrames

In [71]:
df = pd.DataFrame({'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]})

In [72]:
df[(df.AAA<=6) & (df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [76]:
data = pd.DataFrame({'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]})

In [77]:
df = pd.DataFrame(data=data,index=['foo','bar','boo','kar'])

In [78]:
df

     AAA  BBB  CCC
foo  NaN  NaN  NaN
bar  NaN  NaN  NaN
boo  NaN  NaN  NaN
kar  NaN  NaN  NaN

In [80]:
df.iloc[0:3]

     AAA  BBB  CCC
foo  NaN  NaN  NaN
bar  NaN  NaN  NaN
boo  NaN  NaN  NaN

In [81]:
df.loc['bar':'kar']

     AAA  BBB  CCC
bar  NaN  NaN  NaN
boo  NaN  NaN  NaN
kar  NaN  NaN  NaN

In [82]:
df = pd.DataFrame(data=data,index=[1,2,3,4])

In [83]:
df.loc[1:3]

   AAA   BBB   CCC
1  5.0  20.0  50.0
2  6.0  30.0 -30.0
3  7.0  40.0 -50.0

In [84]:
df.iloc[1:3]

   AAA   BBB   CCC
2  6.0  30.0 -30.0
3  7.0  40.0 -50.0