# Options and Settings

In [13]:
import pandas as pd
import numpy as np
pd.options.display.max_rows

60

In [2]:
pd.get_option("display.max_rows")

60

In [3]:
pd.set_option('display.max_rows',10)

In [5]:
pd.set_option('max_r',100)

In [6]:
pd.options.display.max_rows

100

## Getting and Setting Options

In [7]:
pd.reset_option('display.max_rows')

In [8]:
pd.get_option('display.max_rows')

60

In [9]:
with pd.option_context("display.max_rows",10,"display.max_columns",5):
    print(pd.get_option("display.max_rows"))

10

In [10]:
pd.get_option("display.max_rows")

60

## Setting Startup Options in python/ipython Environment

## Frequently Used Options

In [14]:
df = pd.DataFrame(np.random.randn(7,2))

In [15]:
pd.set_option('max_rows',3)

In [16]:
df

           0         1
0   1.985430  1.314883
..       ...       ...
6  -1.555845 -1.073428

[7 rows x 2 columns]

In [17]:
pd.reset_option("max_rows")

In [18]:
df

          0         1
0  1.985430  1.314883
1  1.236660  0.852077
2  0.728665  0.225087
3  0.590822  0.066986
4  0.170539 -1.177472
5 -1.165771 -1.821588
6 -1.555845 -1.073428

In [19]:
df = pd.DataFrame(np.random.randn(10,10))

In [20]:
pd.set_option('max_rows', 5)

In [21]:
pd.set_option('large_repr', 'truncate')

In [22]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.654171,-0.630708,-1.304897,0.333111,-0.461182,-0.785037,-0.157846,0.885388,2.162928,-0.284450
1,-0.507811,0.913025,0.070358,0.548676,-0.812618,0.614341,-0.380783,0.143730,-0.059030,0.322764
...,...,...,...,...,...,...,...,...,...,...
8,0.560933,0.283924,-1.101480,1.434890,-0.753983,0.174883,0.235644,-1.210616,0.986699,-1.011576
9,-1.726769,1.148264,1.251753,-1.476345,-0.796448,0.740858,0.064502,-1.241200,-0.621356,-0.761811

In [23]:
pd.set_option('large_repr', 'info')

In [24]:
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
0    10 non-null float64
1    10 non-null float64
2    10 non-null float64
3    10 non-null float64
4    10 non-null float64
5    10 non-null float64
6    10 non-null float64
7    10 non-null float64
8    10 non-null float64
9    10 non-null float64
dtypes: float64(10)
memory usage: 880.0 bytes

In [25]:
 df = pd.DataFrame(np.array([['foo', 'bar', 'bim', 'uncomfortably long string'],
   ....:                             ['horse', 'cow', 'banana', 'apple']]))

In [26]:
pd.set_option('max_colwidth',40)

In [27]:
df

       0    1       2                          3
0    foo  bar     bim  uncomfortably long string
1  horse  cow  banana                      apple

In [28]:
pd.set_option('max_colwidth', 6)

In [29]:
df

       0    1      2      3
0    foo  bar    bim  un...
1  horse  cow  ba...  apple

In [30]:
pd.reset_option('max_colwidth')